// ==========================================================================
// Theme Custom Variables
// ==========================================================================

//
// Example, Try next line!
//

// $brand-primary: blueviolet;

@font-face {
    font-family: "akkbdpro";
    font-style: italic;
    font-weight: bold;
    src: url("../fonts/akkbdpro1.ttf") format("truetype");
   
}

@font-face { 
    font-family: "akkrgpro1";
    font-style: italic;
    font-weight: bold;
    src: url("../fonts/akkrgpro1.ttf") format("truetype");
}

@font-face { 
    font-family: "AkkuratPro";
    font-style: italic;
    font-weight: bold;
    src: url("../fonts/AkkuratPro.otf?") format("otf");
}

@font-face { 
    font-family: "AkkuratProBd";
    font-style: italic;
    font-weight: bold;
    src: url("../fonts/AkkuratProBd.otf?") format("otf");
}

@font-face { 
    font-family: "icomoon";
    font-style: italic;
    font-weight: bold;
    src: url("../fonts/icomoon.ttf") format("truetype"),
}


