@import
        "variables",           // Theme       Custom Variables
        "bootstrap/bootstrap", // Bootstrap   Styles Core
        "wordpress/wordpress", // WordPress   Styles Core
        //"woocommerce",       // WooCommerce Styles Core
        "odin/core",           // Odin        Styles Core
        "layout"               // Theme       Custom Layout
;

//MODAL
.modal-content{
  border-radius: 0;
  padding: 10px 20px;
}
.modal-header{
	text-transform: uppercase;
	color: #b81e24;
	font-family: "akkbdpro";
  padding-bottom: 30px;
}
.modal-body{
	padding: 5px 15px;
	p{
		color: #b81e24;
	}
}




.barra-menu, .menu-top{
	background: transparent;
	border-color: transparent; 
}
.navbar-default{
	.navbar-nav{
		li{
			text-transform: uppercase;
	    margin-right: 28px;
	    width: 110px;
	    font-size: 12px;
			a{
				color: #fff;
				border-bottom: 3px solid #fff;
   			padding-bottom: 5px;
   			padding-left: 0px;
   			font-family: "akkrgpro1";
   			&:hover{
   				color: rgba(255, 255, 255, 0.6);
   				border-bottom-color: rgba(255, 255, 255, 0.6);
   			}
   			&:focus{
   				color: rgba(255, 255, 255, 0.5);
   				border-bottom-color: rgba(255, 255, 255, 0.6);
   			}
			}
			&:last-child{
				margin-right: 0px;
			}
		}
	}
}
.navbar-default{
	.navbar-nav{
		.active{
			a{
				background-color: transparent;
				color: #fff;
			}
			a:hover{
				background-color: transparent;
				color: rgba(255, 255, 255, 0.5);
			}
			a:focus{
				background-color: transparent;
				color: rgba(255, 255, 255, 0.5); 
			}
		}	
	}
}
.menu-topo{
    height: 157px;
    margin-top: 30px;
}
.rede-social{
	float: right;
	ul{
		list-style: none;
		li{
			border: 2px solid #fff;
	    width: 30px;
    	height: 30px;
    	text-align: center;
    	margin-right: 20px;
  		&:hover{
				background: rgba(255, 255, 255, 0.53);
			} 
			a{
		    top: 10%;
    		margin-top: -15px;
    		position: relative;
			}
			a.language{
				text-transform: uppercase;
				color: #fff;
				font-family: "akkbdpro";
		    font-size: 12px;
		    top: 18%;
			}
			&:last-child{
				margin-right: 0px;
			}
		}
	}
}
.wpcf7-submit{
	width: 100%;
}
.close{
  opacity: 1;
	span{
		color: #b81e24;
	}
}
.close:hover{
	    background-color: transparent;
}

.btn-default, input[type="submit"], input[type="reset"], button{
	
  color: #fff;
  background-color: #b81e24;
  border-color: transparent;
}
.btn-default:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover{
    color: #fff;
    background-color: #b81e24;
    border-color: transparent;
}

//submenu
.navbar-nav > li > .dropdown-menu{
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
.caret{
	display: none;
}
.navbar-default .navbar-nav li:hover{
		.dropdown-menu{
			display: block!important;
	}
}
.navbar-default .navbar-toggle{
	background-color: #fff;
}
.linha-noticias{
	background-color: #b81e24;
  margin-top: 31px;
  text-align: center;
  color: #fff;
  font-family: "akkrgpro1";
}
//QUERY SITE

//767
@media (max-width: 767px){
	.logo-header{
		float: left;
		img{
			width: 49px;
		}
	}
	.nav > li{
		display: inline-block;
	}
	.navbar-default .navbar-nav li{
		float: left;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a{
		color: #fff;
	}
	.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header{
		padding: 5px 15px 5px 0px;
	}
	.navbar-brand .visible-xs-block{
		display: none!important;
	}
	.navbar-nav .open .dropdown-menu{
		position: relative;
	}
	.dropdown-menu{
		position: relative;
	}
	.banner, .container-banner, .container-banner > img{
		width: auto;
	}
	.title-banner{
		margin-top: 0;
	}
	.red-number{
		margin-top: 0;
	}
	.content-number{
		margin-bottom: 0;
    float: left;
	}
	.last-number{
		
	}
	.content-number span{
    font-size: 10px;
	}
	.content-number .description-numbers{
    padding: 0 5px;
    span{
    	font-size: 12px;
    }
	}
	.line-news{
		margin-top: 95px;
	}
	.linha-noticias {
    margin-top: 81px;
	}
}
.container-destaque .box-destaque .content-news-destaque .title-destaque h3{
	font-size: 14px;
}
.container-destaque{
  padding-top: 40px;
}
.content-news-all{
  padding-top: 55px;
}
.description-news-destaque p{
	font-size: 12px;
}
.box-content-all ul li .title-news-all h3{
	font-size: 14px;
}
.box-content-all{
	ul{
		li{
			padding-bottom: 25px;
			.description-news-all{
				p{
					margin-bottom: 15px;
					font-size: 12px;
				}
			}
		}
	}
	
}
.title-banner h2{
	font-size: 31px;
}
@media (max-width: 665px){
	.content-number .description-numbers span{
    font-size: 6px;
	}
	.line-news {
    margin-top: 38px;
	}
	.linha-noticias {
    margin-top: 86px;
	}
}
@media (max-width: 615px){
	.content-number{
    margin: 3px 0px;
	}
	.line-news {
    margin-top: 23px;
	}
	.linha-noticias {
    margin-top: 21px;
	}
}
@media only screen and (min-width:513px) and (max-width: 614px){
	.linha-noticias {
  	margin-top: 14px;
	}
	.title-banner h2 {
    font-size: 25px;
	}
}
@media only screen and (min-width:300px) and (max-width: 512px){
	#header #main-navigation{
		margin-top: 50px;
	}
	.title-banner h2 {
    font-size: 10px;
    height: 0px;
	}
	.title-banner h3 {
    font-size: 10px;
    width: 292px;
    margin-top: 15px;
	}
	.banner, .container-banner, .container-banner > img{
		height: 48%;
	}
	.red-destaque {
    padding-left: 10px;
	}
	.red-destaque h2, .red-news h2{
    font-size: 8px;
	}
	.linha-noticias {
    margin-top: 77px;
	}
}

